body {
  margin: 0;
  background-image: linear-gradient(to top right, black, lightgrey);
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu';
  text-shadow: 2px 2px 3px #333;
  color:  white
}

#header {
  height: 20vh;
  font-size: 3em;
  line-height: 20vh;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

#main1 {
  width: 75vw;
  height: 75vh;
  margin: 0 auto;
}

#main1 div {
  height: 10vh;
  font-size: 2em;
}

#code {
  width: 90vw;
  height: 75vh;
  margin: 0 auto;
}

#page {
  position: absolute; 
  padding-right: 10px;
  padding-bottom: 10px;
  bottom: 0px;
  right: 0px;
}

iframe {
  width: 100%;
  height: 100%;    
}

.code5, .code6, .code51 {
  font-family: 'Consolas';
  font-size: 0.8em;
}

.code5, .code51 {
  color: yellow;    
}

.code6 {
  color: yellowgreen;    
}

.code51 {
  padding-left: 50px;    
}
